*{
  margin:0px;
  padding: 0px;
}

body{
  background-image: url(../IMAGENS/fundo3.jpg);
}

input{
  display: block;
  height: 55px;
  width: 400px;
  margin: 10px;
  border-radius: 30px;
  border: 1px solid back;
  font-size: 16pt;
  padding: 10px 20px;
}
div#corpo-form{
  background-color: red;
  width: 420px;
  margin: 150px auto 0px auto;
}
